html, body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
}

.centered {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.message {
  width: 100%;
}

.is_near {
  width: 100%;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
